:root{
    --field-color: rgb(255, 145, 0);
    --line-color: rgb(240, 238, 238);
    --out-color: rgb(0, 110, 255);
    --oh-color: rgb(0, 140, 255);
    --mb-color: rgb(255, 230, 0);
    --s-color: rgb(255, 51, 0);
    --op-color: rgb(255, 0, 119);
    --l-color: rgb(0, 253, 0);
    --net: rgb(15, 15, 15);
    --container: rgb(255, 255, 255);
    --bg: rgb(54, 54, 54);
    --btn-radius: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
body{
    padding: 20px;
    gap: 2vh;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg);
}
main{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--out-color);
    flex: 1;
    min-height: 0;
    height: 100%;
    width: 100%;
}
.field{
    width: 100%;
    height: 70vh;
    background-color: var(--field-color);
    border: 8px solid var(--line-color);
    touch-action: none;
}
.lines-container{
    padding: 20vh 0 20vh 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line{
    width: 100%;
    height: 8px;
    background-color: var(--line-color);
}
.net{
    width: 100%;
    height: 20px;
    border: 2px dashed var(--net);
}
.players-container{
    background-color: var(--container);
    height: 6vh;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--btn-radius);
    flex-shrink: 0;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    font-size: 12px;
    font-weight: 800;
    color: black;
    touch-action: manipulation;
}
.s{
    background-color: var(--s-color);
}
.op{
    background-color: var(--op-color);
}
.l{
    background-color: var(--l-color);
}
.mb{
    background-color: var(--mb-color);
}
.oh{
    background-color: var(--oh-color);
}
.btn-container{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
button{
    display: flex;
    padding: 8px 16px 8px 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--container);
    border-radius: var(--btn-radius);
    font-size: 16px;
    font-weight: 800;
    color: black;
}
